.user-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title,
.card-text {
  margin-bottom: 0.5rem;
}
.pagination {
  margin-top: 1rem;
}

.btn-primary {
  border-radius: 5px;
  margin-left: 70px;
  padding: 5px;
  width: 100px;
}

.search{
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30%;
}
.sortOrder{
  margin-left: 50px;
}


::ng-deep .toast-top-right {
  top: 0;
  right: 0;
}

::ng-deep .toast-container {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  background-color: white;
  color: black;
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
  border-radius: 2%;
  padding: 10px;
}
.toast-top-right toast-container{
  display: none;
}
