.user-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title,
.card-text {
  margin-bottom: 0.5rem;
}
.pagination {
  margin-top: 1rem;
}

.btn-primary {
  margin-top: 1rem;
}
