<div class="header">
  <button (click)="logout()" class="btn-primary">Logout</button>
</div>
<div class="container">
  <div class="tabs">
    <ul class="nav flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/apply-leave']" routerLinkActive="active">Apply Leave</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin-section']" routerLinkActive="active">Admin Section</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-profile']" routerLinkActive="active">Your Profile</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="card-container d-flex flex-row">
      <div class="card overflow-auto">
        <h6 class="card-title">Upcoming Holidays</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let holiday of upcomingHolidays">
            <span>{{ holiday.name }}</span>
            <span>{{ holiday.date | date }}</span>
          </li>
        </ul>
      </div>
      <div class="card overflow-auto">
        <h6 class="card-title">Apply Time Off</h6>
        <a class="card-link" [routerLink]="['/apply-leave']">Go to ApplyTimeOff</a>
      </div>
      <div class="card overflow-auto">
        <h6 class="card-title">Upcoming Time Off</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let timeOff of upcomingTimeOff">
            <span>{{ timeOff.fromDate | date }} - {{ timeOff.toDate | date }}</span> -
            <span>{{ timeOff.note }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-container d-flex flex-column">
    <div class="card overflow-auto w-100 h-60" style="height: 140px">
      <h6 id="vcard" class="card-title">Birthday Buddies</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let birthday of birthdayBuddies">
          <span>{{ birthday.name }}</span>
          <span>{{ birthday.date | date }}</span>
          <span>{{ birthday.department }}</span>
          <span>{{ birthday.designation }}</span>
        </li>
      </ul>
    </div>
    <div class="card overflow-auto w-100" style="height: 140px">
      <h6 id="vcard1" class="card-title">Work Anniversaries</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let anniversary of workAnniversaries">
          <span>{{ anniversary.name }}</span>
          <span>{{ anniversary.designation }}</span>
          <span>{{ anniversary.department }}</span>
          <span>{{ anniversary.year }} years</span>
        </li>
      </ul>
    </div>
    <div class="card w-100" style="height: 140px">
      <h6 id="vcard2" class="card-title">New Hires</h6>
      <ul class="list-group overflow-auto">
        <li class="list-group-item" *ngFor="let newHire of newHires">
          <span>{{ newHire.name }}</span> -
          <span>{{ newHire.designation }}</span> -
          <span>{{ newHire.department }}</span>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
</div>
