.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.email {
  font-size: 16px;
  margin-top: 5px;
}

.details {
  margin-top: 30px;
}

.table {
  width: 400px;
  margin: 0 auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.back{
  margin: 20px;
}
